@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("/public/Fonts/Degular-Regular.otf");
  font-family: Degular;
  font-weight: normal;
}

@font-face {
  src: url("/public/Fonts/CaponiDisplay-Regular.otf");
  font-family: CaponiDsiplay;
  font-weight: normal;
}

body {
  font-family: Degular, Helvetica;
  background-color: #000;
  scroll-behavior: smooth;
}

.global__section_padding {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.helvetica {
  font-family: Helvetica;
}

.blur__image {
  filter: blur(0px);
}

.caponi__display {
  font-family: CaponiDisplay, 'Times New Roman', Times, serif;
}
